*, *:before, *:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
body {
  background-color: #FFFFFF;
  font-family: "SF Pro Text", system;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 376px;
  height: 667px;
  overflow: scroll;
}

nav {
  width: 100%;
  background-color: #337592;
}


.bus-list {
  margin: 0 auto;
  width: 100%;
  background-color: #D9E6EC;
  overflow: hidden;
}


.header {
    padding: 10px;
}

.location {
  margin: 0 auto;
  width: 100%;
  border-bottom: 0.5px solid rgba(200,199,204,1);
  overflow: hidden;
  background-color: #D9E6EC;
  padding-top: 20px;
  padding-bottom: 20px;
}

.location:hover {border-bottom-color: rgba(200,199,204,0.5);}


.busid {
  width: 15%;
  line-height: 20px;
  float: left;
  position: relative;
  top: 4px;
}

.busname {
  width: 55%;
  float: left;
  line-height: 20px;
  position: relative;
  top:4px;
}

.mins {
  width: 20%;
  float: left;
  font-size: 16px;
  color: #000000;
  position: relative;
  top:6px;
}

.arrow {
  width: 10%;
  float: left;
  color: #337592;
  position: relative;
  top: 6px;
}

.busnum {
  font-size: 16px;
}

.busroute {
  font-size: 16px;
}

.frequency {
    font-size: 12px;
}

.arrow-left {
  float: left;
  color: white;
  width: 5%;
}

.home {
  font-size: 18px;
  color: #D9E6EC;
  float: left;
  width: 25%;
}


.mainheading {
    font-size: 18px;
    color: #FFFFFF;
}

.walking {
  font-size: 14px;
  background-color: #337592;
  color: #FFFFFF;
  padding: 10px;
}

.walkingimage{
  color: #FFFFFF;
}

.eastbound {
    background-color: #FEC600;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.northbound {
    background-color: #d2691e;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.southbound {
    background-color: #6495ed;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.reroute {
    background-color: #20b2aa;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.outofservice {
    background-color: #ff4500;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.resumes {
    background-color: #ff4500;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 35px 10px 10px;
    float: left;
}
